<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--默认数据库提供者 SQLServer-->
  <add key="provider" value="sqlServer2.0" />
  <!--登录用户ID-->
  <add key="userid" value="sa" />
  <!--登录密码-->
  <add key="password" value="123" />
  <!--数据库-->
  <add key="database" value="PersonalTaskManagement" />
  <!--服务器-->
  <add key="datasource" value="D-Server" />

  <add key="selectKey" value="select @@IDENTITY as value" />
  <add key="directory" value="Maps" />
  <add key="useStatementNamespaces" value="false" />
</settings>