<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored
  <properties resource="../../database.config" />
  -->
  <!--<properties  embedded="database.config, Service.SqlMaps" />-->
  <properties embedded="database.config,PersonalTaskManagement.DAL" />
  <!--<properties resource="database.config" />-->
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
  </settings>

  <!-- ==== providers configuration =========	-->
  <providers embedded="providers.config,PersonalTaskManagement.DAL" />
  <!--<providers resource="providers.config" />-->

  <!-- ==== SqlClient configuration =========	-->
  <database>
    <provider name="${provider}" />
    <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection lifetime=5; min pool size=1; max pool size=50;Connect Timeout=6" />
  </database>

  <!-- ==== Maps configuration =========	-->
  <sqlMaps>
  </sqlMaps>
</sqlMapConfig>